@charset "UTF-8";
/*Color del fondo*/
/*Letras*/
/*colores de los link*/
/*colores de los titurlos y subtitulos*/
/*titulo h1*/
/*subtitulos h2 y h3*/
/*color del formulario*/
/*Color fondo Barra de Navegacion*/
/*Logo*/
@media (max-width: 768px) {
  .navbar-brand img {
    width: 32 px;
  }
}
/*Gif gato*/
@media (max-width: 768px) {
  .gato {
    display: none;
  }
}
/*Media productos tablet*/
/*MEdia productos celulares*/
/*Fondos de las paginas*/
/*Titulos y subtitulos*/
/*Titulos*/
/*subtitulos*/
/*Links*/
/*Display de las imagenes tienda y nuestros trabajos*/
/*Botones*/
/*Formularios*/
/*imagenes productos*/
/*muestra*/
/*reset básico */
/*cuerpo del documento*/
body {
  background-color: #a0b17a;
  color: #333;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

/*enlaces*/
a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}

a:hover {
  color: #a2f05a;
}

/*Títulos*/
h1 {
  text-align: center;
  font-family: "Saira", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: #124224;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2, h3 {
  text-align: center;
  font-family: "Saira", sans-serif;
  font-size: 2rem;
  color: #0b2c18;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
}

/*video*/
video {
  width: 100%;
  height: auto;
}

/*productos individuales*/
.productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}
@media (max-width: 768px) {
  .productos {
    grid-template-columns: 2, 1fr;
  }
}
@media (max-width: 480px) {
  .productos {
    grid-template-columns: 1fr;
  }
}

.producto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  background-color: #40a171;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.producto h3 {
  min-height: 3em;
  font-size: 1.2rem;
}
.producto img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
}
.producto p {
  font-size: 0.9rem;
}

.producto:hover {
  transform: scale(1.02);
}

.it {
  border-radius: 8px;
  border: 2px solid #e5e5e5;
  margin-bottom: 1rem;
}

.precio {
  font-weight: bold;
  color: #7f5af0;
  margin: 0.5rem 0;
}

.boton-compra {
  background-color: #7f5af0;
  color: #0e0101;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.boton-compra:hover {
  background-color: #6244c5;
}

.navbar {
  background-color: #99a285;
}

.titulosubpagina {
  text-align: center;
  font-family: "Saira", sans-serif;
  font-size: 2rem;
  color: #0b2c18;
  margin-bottom: 1rem;
}

/*Contenedor de Mapa y formulario*/
.contenedor-contacto {
  padding: 2rem 1rem;
}

/*formulario contacto*/
.formcontacto {
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*mapa de ubicación*/
.mapa {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  margin-top: 1rem;
}

/*información de contacto*/
.datos-contacto {
  text-align: center;
  font-size: 1rem;
  color: #333;
}

.datos-contacto a {
  color: #7f5af0;
  text-decoration: none;
}

.datos-contacto a:hover {
  text-decoration: underline;
}

/*Barra de navegación pagina inicio*/
/*Barra de navegación sub paginas*/
/*Titulo*/
.titulosubpagina {
  text-align: center;
  font-family: "Saira", sans-serif;
  font-size: 2rem;
  color: #0b2c18;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

/*menu de navegación*/
.listaagendashechas {
  list-style: none;
  gap: 1rem;
  font-size: 1rem;
  background-color: #cbcda6;
  border-radius: 10px;
  padding-left: 0;
}

.listaagendashechas .nav-link {
  color: #333;
  font-weight: bold;
}

.listaagendashechas.nav-link:hover {
  color: #a2f05a;
}

/*galería de agendas*/
.imagenesmuestra {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}
@media (max-width: 768px) {
  .imagenesmuestra {
    grid-template-columns: 2, 1fr;
  }
}
@media (max-width: 480px) {
  .imagenesmuestra {
    grid-template-columns: 1fr;
  }
}

/*contenedor de cada agenda*/
.agendas {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  background-color: #40a171;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.agendas h3 {
  min-height: 3em;
  font-size: 1.2rem;
}
.agendas img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
}
.agendas p {
  font-size: 0.9rem;
}

.iah:hover {
  transform: scale(1.03);
}

/*descripción imagenes*/
.textoimagenes {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #555;
}

/*formulario*/
.presu {
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*imagenes de los gatos*/
.boton-enviar {
  background-color: #7f5af0;
  color: #0e0101;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

/* lista de navegación en index*/
.listainicio {
  list-style: none;
  gap: 1rem;
  font-size: 1rem;
  background-color: #cbcda6;
  border-radius: 10px;
}

.listainicio .nav-link {
  color: #333;
  font-weight: bold;
}

.listainicio .nav-link:hover {
  color: #a2f05a;
}

/*video Carrusel*/
.videocarrusel {
  margin-top: 2rem;
}

.carrusel {
  border: 3pc solid #99a285;
  border-radius: 10px;
  max-width: 80%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Evita problemas con los cálculos de dimensiones */
}

footer {
  background-color: #a0b17a;
}

.bannerlogo {
  width: 180px;
  height: auto;
}

.navbar-brand img {
  width: 60px;
  height: auto;
}

/*Animaciones inicio*/
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-in-left {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes zoom-in {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 1s ease-out forwards;
  opacity: 0;
}

.slide-in-left {
  animation: slide-in-left 1s ease-out forwards;
  opacity: 0;
}

.zoom-in {
  animation: zoom-in 1 s ease-out forwards;
  will-change: transform, opacity;
}

/* estilos generales*/

/*# sourceMappingURL=style.css.map */
